services:
  stats-db:
    image: postgres:16.1
    container_name: stats-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: stats-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  main-db:
    image: postgres:16.1
    container_name: main-db
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: main-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  comment-db:
    image: postgres:16.1
    container_name: comment-db
    ports:
      - "5435:5432"
    environment:
      POSTGRES_DB: comment-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  event-db:
    image: postgres:16.1
    container_name: event-db
    ports:
      - "5436:5432"
    environment:
      POSTGRES_DB: event-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  request-db:
    image: postgres:16.1
    container_name: request-db
    ports:
      - "5437:5432"
    environment:
      POSTGRES_DB: request-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  user-db:
    image: postgres:16.1
    container_name: user-db
    ports:
      - "5438:5432"
    environment:
      POSTGRES_DB: user-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres