stats-server:
  build: stats/stats-server
  container_name: stats-server
  ports:
    - "9090:9090"
  environment:
    - SPRING_DATASOURCE_URL=jdbc:postgresql://stats-db:5432/stats-db
    - SPRING_DATASOURCE_USERNAME=postgres
    - SPRING_DATASOURCE_PASSWORD=postgres
  depends_on:
    - stats-db

stats-db:
  image: postgres:16.1
  container_name: stats-db
  ports:
    - "5433:5432"
  environment:
    - POSTGRES_DB=stats-db
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres

main-service:
  build: core/main-service
  container_name: main-service
  ports:
    - "8080:8080"
  environment:
    - CLIENT_URL=http://stats-server:9090
    - SPRING_DATASOURCE_URL=jdbc:postgresql://main-db:5432/main-db
    - SPRING_DATASOURCE_USERNAME=postgres
    - SPRING_DATASOURCE_PASSWORD=postgres
  depends_on:
    - main-db
    - stats-server

main-db:
  image: postgres:16.1
  container_name: main-db
  ports:
    - "5434:5432"
  environment:
    - POSTGRES_DB=main-db
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres